/*свг и/или анимация*/
@keyframes ellipse4 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen {
    .ellipse {
        animation-duration: 1s;
        animation-name: ellipse4;
        animation-iteration-count:infinite;
        width: 100px;
    }
}