.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0 10px
}

.text2 {
    width: 140px;
}
